
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

@import url(https://fonts.googleapis.com/css?family=Lobster);


 
/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height : 1em;
}
/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  color: #2e2e2e;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor : pointer;
}
												/* Col */


.row:after {
	content : "";
	clear : both;
	display : block;
}

[class*="col-"] {
	float : left;
	padding : 15px;
	box-sizing : border-box;
	width : 100%;
}


/* Desktop */

@media only screen and (min-width : 768px) {

	.col-1 {
		width : 8.33%;
	}

	.col-2 {
		width : 16.66%;
	}

	.col-3 {
		width : 25%;
	}

	.col-4 {
		width : 33.33%;
	}

	.col-5 {
		width : 41.66%;
	}

	.col-6 {
		width : 50%;
	}

	.col-7 {
		width : 58.33%;
	}

	.col-8 {
		width : 66.66%;
	}

	.col-9 {
		width : 75%;
	}

	.col-10 {
		width : 83.33%;
	}

	.col-11 {
		width : 91.66%;
	}

	.col-12 {
		width : 100%;
	}
}


/* For Tablet */
@media only screen and (max-width : 767px) {
	
		
	.col-m-1 {
		width : 8.33%;
	}

	.col-m-2 {
		width : 16.66%;
	}

	.col-m-3 {
		width : 25%;
	}

	.col-m-4 {
		width : 33.33%;
	}

	.col-m-5 {
		width : 41.66%;
	}

	.col-m-6 {
		width : 50%;
	}

	.col-m-7 {
		width : 58.33%;
	}

	.col-m-8 {
		width : 66.66%;
	}

	.col-m-9 {
		width : 75%;
	}

	.col-m-10 {
		width : 83.33%;
	}

	.col-m-11 {
		width : 91.66%;
	}

	.col-m-12 {
		width : 100%;
	}	
}


@media only screen and (max-width : 600px) {
	[class*="col-"] {
	float : left;
	padding : 15px;
	box-sizing : border-box;
	width : 100%;
	}
}



.line {
	width : 150px;
	margin : 5% auto;
	border : 1px solid #5A5A5A;
}
	

	
													/* Navbar */	
	
	
ul.navbar {
	list-style : none;
	text-align : center;
	background-color : black;
	width : 100%;
}
	
	
ul.navbar li {
	display : inline-block;
	padding : 8px 20px;
	transition : 0.5s;
}	
	
ul.navbar li a {
	color : white;
	padding : 18px 25px;
	border : 2px solid transparent;
	box-sizing : border-box;
	border-radius : 8px;
	display : inline-block;
}	
	
ul.navbar li a:hover {
	color : red;
	border : 2px solid white;
}	
	
ul.navbar li a :hover {
	background-color : #111;
}



											/* Responsive */

ul.navbar li.icon {
	display : none;
}


@media screen and (max-width:950px) {
	ul.navbar li:not(:first-child) { display : none;}
	ul.navbar li.icon {float : right; display : inline-block;} 
}



@media screen and (max-width:950px) {
	ul.navbar.responsive {position : relative;}
	ul.navbar.responsive li.icon {
								position : absolute;
								right : 0;
								top : 0; 
								}
	ul.navbar.responsive li {
		display : inline;
	}
		
		ul.navbar.responsive li a {
			display : block;
			text-align : left;
		}
		
	ul.navbar {
		text-align : left;
	}	
		
}
	

	
												/* Overview */
	
.overview {
	background : url("images/assets/background.jpg") no-repeat center fixed;
	background-size : cover;
	width : 100%;
	height : 560px;
}	
	
	
p.ov-top {
	text-align : center;
	font-size : 4em;
	padding : 2%;
	color : white;
}	
	
h1.ov-talha {
	text-align : center;
	color : white;
	border : 3px solid white;
	width : 320px;
	margin : 8px auto;
	padding : 10px;
	font-size : 3em;
}

h3.ov-php {
	text-align : center;
	padding : 6px;
	color : white;
	padding-top : 15px;
}

h3.ov-php span {
	padding : 5px; 
}



h3.random {
	text-align : center;
	padding : 6px;
	color : white;
	padding-top : 15px;
}
	
p.cont {
	text-align : center;
	font-size : 1.5em;
	padding : 15px;
	border : 5px solid white;
	width : 150px;
	margin : 30px auto;
	background-color : white;
	border-radius : 12px;
}
	
p.cont:hover {
	background-color : gold;
	border : 5px solid gold;
	color : black;
}	
	
	

													/* About */

.about-top {
	width : 80%;
	margin : 0 auto;
}													





div.pro {
	width : 150px;
	margin  : 0 auto;
}


img.pro {
	border-radius : 90px;
	width : 150px;
}

h1.who {
	text-align : center;
	padding : 3%;
	color : #8AAAD9;
}



p.who {
	text-align : center;
	line-height : 26px;
	font-size : 17px; 
	color : #999999;
}



/* Prefer to Work */
													
.about-mid {
	width : 80%;
	margin : 0 auto;
}
													
													
													
													
.ab-product {
	text-align : center;
	background-color : white;
	padding : 4%;
}

img.product {
	width : 80px;
	height : 80px; 
	margin : 0 auto;
}

p.ab-category {
	text-align : center;
	font-size : 17px;
	margin : 14px auto;
}

p.ab-quote {
	text-align : center;
	width : 100%;
	font-size : 11.7px;
	line-height :24px;
	color : #5E5E5E;
}

.ab-sec {
	padding : 1%;
}



	
													/* Skills */													
#Skills {
	margin-bottom : 0px;
}
													
p.skills {
	text-align : center;
	font-family : "Lobster", sans-serif;
	font-size : 3.5em;
	margin : 2% 0;
}														
														
@media (max-width : 800px) {
	p.skills {
		font-size : 2em;
	}
}														
														
														
div.skills {
	padding : 0 10%;
}														

h2.category {
	width : 150px;
	border : 1px dotted;
	border-radius : 4px;
	background-color : #2098D1;
	transition : background-color 1s linear ;
	text-align : center;
	color : white;
	padding : 12px;
	margin : auto;
}

h3.category {
	padding : 6% 6% 2% 6%;
	color :	#182A3D;
	font-size : 16px;
}

h4.category {
	padding : 2px;
	margin-left : 25%;
	color : #66665C;
	font-weight : lighter;
}


div.cat-ani:hover h2.category {
	background-color : #F94F4F;
}


p.github {
	text-align : center;
	font-size : 1.8em;
	color : #66665C;
}

p.github a {
	color : #EA4A64;
}

p.github a:hover {
	border-bottom : 2px solid #EA4A64;
}


													/* Contact */
													
div.contact {
	background : url(images/assets/background.jpg) no-repeat center fixed;
	background-size : cover;	
}													


p.con-pra {
	font-size : 16px;
	line-height : 1.5em;
	text-align : center;
	color : #66665C;
	margin : 0 20%;
}

p.con-email {
	text-align : center; 
}

a.email {
	color : #66665C;
	padding : 0.5%;
}

a.email:hover {
	color : #182A3D;
	border-bottom : 1px dotted black;
	border-radius : 3px;
	cursor : pointer;
}






			/* Social */

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding-bottom: 8px;
  
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
}
.soc a, .soc svg {
  display: block;
  cursor : pointer;
}
.soc a {
  position: relative;
  height: 48px;
  width: 48px;
  
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  
  position: absolute;
  text-align: center;

  right: 0;
  bottom: 0;
  left: 0;
}

.icon-email:hover, .icon-facebook:hover,  .icon-github:hover, .icon-googleplus:hover, .icon-linkedin:hover, .icon-twitter:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-email {
  color: #EA4C89;
  fill: #EA4C89;
}
.icon-email:hover {
  background: #EA4C89;
}



.icon-facebook {
  color: #3A5898;
  fill: #3A5898;
}
.icon-facebook:hover {
  background: #3A5898;
}


.icon-github {
  color: #171516;
  fill: #171516;
}
.icon-github:hover {
  background: #A6A6A6;
}

.icon-googleplus {
  color: #CC3731;
  fill: #CC3731;
}
.icon-googleplus:hover {
  background: #CC3731;
}

.icon-linkedin {
  color: #007AB5;
  fill: #007AB5;
}
.icon-linkedin:hover {
  background: #007AB5;
}

.icon-twitter {
  color: #2AA9DE;
  fill: #2AA9DE;
}
.icon-twitter:hover {
  background: #2AA9DE;
}











													/* Footer */														
														
.footer {
	background-color : #2B303F ;
	text-align : center;
	padding : 8px;
	color : #718888;
	font-size : 12px;
}

#foot-link {
	color : #7188DD;
}

#foot-link:hover {
	color : #207F8F;
}




													/* Portfolio */

.portfolio {
	width : 100%;
	background-color : black;
}

p.pot-portfolio {
	text-align : center;
	font-family : "Lobster", sans-serif;
	font-size : 3.5em;
	color : #D9D9D9;
	margin : 2% 0;
	padding : 2%;
}

ul.works {
	list-style : none;
	text-align : center;
	margin : 0;
	padding : 0;
	width : 100%;
}

ul.works li {
	margin : 0;
	padding : 0;
}

ul.works li a {
	cursor : pointer;
}

ul.works li img {
	width : 100%;
	height : 350px;
	border : 1px solid red;
	box-sizing : border-box;
	
}


ul.works li img:hover {
	opacity : 0.5;
}





/*2*/






